* {
    font-family: Roboto;
}

body {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.header, .hero, .subhero, .footer {
    background-color: #1F2937;
    color: white
}

.header {
display: flex;
justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 28px;
    color: white;
    padding-top: 16px;
    padding-left: 32px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.herotext, .subhero {
    display: flex;
}

.hero {
    display: flex;
}

.icons {
display: flex;
justify-content: center;
gap: 5em;
}

.hero2 {
    display: flex;
    justify-content: center;
}

.captions {
    display: flex;
    justify-content: center;
    gap:2em;
}

.pullquote {
background-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none; 
    padding: 16px;
    margin: 0;
    display: flex;
    gap: 1em;
}

img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
}